<!DOCTYPE html>
<html>
<head>
	<title>Inspector Component</title>
	<!-- Dependencies -->
	<script type="text/javascript" src="./node_modules/vis/dist/vis.js"></script>
	<script type="text/javascript" src="./js/angular.js"></script>
	<script type="text/javascript" src="./js/lodash.js"></script>
	<!-- api's -->
	<script type="text/javascript" src="./js/engine/setEngine.js"></script>
	<script type="text/javascript" src="./js/engine/proofEngine.js"></script>
	<script type="text/javascript" src="./js/engine/operations.js"></script>
	<script type="text/javascript" src="./js/visAPI.js"></script>

	<link href="./node_modules/vis/dist/vis.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body ng-app="app">
	<div ng-controller="inspectorController as inspector">
		<div id="universe">
			<p>Sets</p>
			<div ng-repeat="set in inspector.sets" class='set'>
				{{set.strEquivalents[set.eqActiveIndex]}}
				<img ng-src="./img/{{set.type}}.png" class='set-img' my-draggable  type="set.type" index="$index">
			</div>
		</div>
<!-- 		<div id="hard-coded-network">
			<p>Hard Coded Network</p>
			<div id="mynetwork"></div>
		</div> -->
		<!-- Inspector Tree -->
		<div id="inspector-network" my-droppable allowed="inspector.dropAllowed" drop="inspector.drop">
			<p>Inspector Tree</p>
			<div id="newNetwork" ></div>
			<!-- Stones (Elements) known to resonate with inspected Sigil (Set) -->
			<div id="inspectedStones" ng-if="inspector.targetType==='sigil' || inspector.targetType==='fuse' || inspector.targetType==='trim'">
				<p>Known Resonant Stones</p>
				<div ng-repeat="stone in inspector.inspectedStones">
					<img ng-src="./img/{{stone.name}}.png" class="inspectedStone">
				</div>
				<!-- Not working -->
			</div>
			<img id="inspectedTool" ng-if="inspector.targetType==='tool'" ng-src="./img/{{inspector.target}}.png">

			<div>{{inspector.text}}</div>
		</div>
		<!-- Tools -->
		<div id="toolbox">
			<img ng-repeat="tool in inspector.tools" ng-src="./img/{{tool}}.png" my-draggable type="'tool'" index="$index">
		</div>
	</div>
	<!-- app -->
	<script type="text/javascript" src="./js/app.js"></script>
	<script type="text/javascript" src="./js/directives/draggable.js"></script>
	<script type="text/javascript" src="./js/directives/droppable.js"></script>
	<script type="text/javascript" src="./js/inspectorController.js"></script>
</body>
</html>